#main_heading{
    color: rgb(237, 241, 244);
    text-align:center;

}
/*Header*/
header{
    background-color:slategrey;
}
body{
    color:rgb(70, 70, 72);
    font-family:Arial, Helvetica, sans-serif;
    background-color:lightgray;
    margin: 5px;
    overflow: scroll;
    border:2px 3px solid rgb(128, 129, 129);
}


/*Navigation bar*/
.navbar ul{
    align-items: center;
    text-decoration: none;
    padding: 0px;
    background-color: rgb(51, 58, 66);
    overflow:hidden;
    margin: 0px;
    text-align:center;
}
.navbar a{
    align-items: center;
    color: beige;
   text-align: center;
   text-decoration: none;
   display: block;
   padding: 5px;
   float:left;
    
}
.navbar li:hover{
    background-color: rgb(115, 130, 145);
    
}
.navbar li{
    text-decoration: none;
    float: left;
    align-items: center;
}


/*Footer*/
footer{
    background-color:slategrey;
}

#img1{
    width:100%;
    max-width:600px;
    height:auto;
}
img{
    width:125px;
}
.product{
    display: inline-block;
    float:left;
    text-align: center;
    width:50%;
    background-color: slategrey;
    box: 3px 3px rgb(43, 53, 63);
}
#button{
    
    cursor: pointer;
    border-color: rgb(45, 51, 56);
    border: 5px;
    border-radius: 5px;
    background-color: rgb(121, 159, 196);
}
#p-about{
    text-align:center;
}
#contact-p{
    text-align: center;
}
#contact-h3{
    text-align: center;
}
/*.box{
    display: inline-block;
    background-color: slategrey;
    box-shadow: 3px 3px rgb(56, 64, 72);
    box-sizing: border-box;
    
}*/
.contracts-intro{
    text-align:center;
    margin-bottom:40px
    
}
.contact-details{
    background:#ffffff;
    border:1px solid #e0e0e0;
    border-radius: 10px;
    padding:20px;
    text-align: center;




    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0.5rem;
    float:left;
    cursor: pointer;
}
.contact-details a{
    color:#2f3e46;
    font-weight:bold;
    text-decoration: none;
}
.contact-details a:hover{
    color:slategray;
}
.products{
    display: grid;
    grid-template-columns: repeat(aut0-fit, minmax(250px, 1fr));
    gap:20px;
    padding: 30px;
}
.products-card{
    background:#ffffff;
    border:1px solid #e0e0e0;
    border-radius: 10px;
    padding:20px;
    text-align: center;

}
.products-cards img{
    width:100%;
    max-width:200px;
    margin-bottom: 15px;
}
.prize{
    font-weight:bold;
    color:#2f3e46;
    margin:10px 0;
    
}
#button2{
    cursor: pointer;
    display:inline-block;
    background-color:#2f3e46;
    color:white;
    padding:10px 15px;
    border-radius: 5px;
    text-decoration: none;
}
#button2:hover{
    background-color: slategrey;
}